@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 你的自定义基础样式可以放在这里 */
  html,
  body {
    @apply h-full;
  }
  
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    /* ... 其他自定义变量 */
  }
}

@layer components {
  /* 自定义组件样式 */
}

@layer utilities {
  /* 自定义工具类 */
}
